<h1>Activez votre compte !</h1>

<p>
    Confimrer votre adresse email pour activer votre compte en cliquant
    <a href="{{ absolute_url(path('app_activation', {'token': token})) }}">ici</a>. <br>
    Vous serez redirigez vers la page d'inscription de notre site.
</p>

<p>
    À tout de suite !
</p>