<h1>Activez votre compte !</h1>

<p>
    Pour activer votre compte, confirmez votre email en cliquant
    <a href="{{ absolute_url(path('app_activation', {'token': token})) }}">ici</a>. <br>
    Vous serez redirigez vers la page de connexion de notre site.
</p>

<p>
    À tout de suite !
</p>