body {
    background-color: #f8f9fa;
}

.outline-bloc {
    background-color: white;
    border-radius: 5px;
}

.container-forgot {
    height: 68vh;
}

@media only screen and (min-width: 992px) {
    .xs-to-lg {
        display: none;
    }
}