{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

<div id="hero">
    <div id="hero-text">
        <h1 id="hero-title">SnowTricks</h1>
        <h2><em>La communauté qui partage sa passion</em></h2>
    </div>
    <a href="#list-tricks"><img id="btn-down" src="{{ asset('images/icones/down.png') }}" alt=""></a>
</div>

{% endblock %}
